:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
  --body-background-color: #ffffff;
  --button-secondary-text-focus-color: #ffffff;
  --hero-title-color: #ffffff;
  --button-primary-text-color: #ffffff;
  --team-background-color: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--body-background-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  outline: 2px solid red;
}
/* logotype */
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--dark-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-web {
  color: var(--primary-brand-color);
}

/* site nav */
.site-nav .link {
  color: var(--dark-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--pressed-state-color);
}
.site-nav .link.current {
  color: var(--pressed-state-color);
}

/* contact adress */
.contact-adress {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-adress .link,
.contact-adress .tel {
  color: var(--dark-color);
  text-decoration: none;
}
.contact-adress .link:hover,
.contact-adress .tel:hover,
.contact-adress .link:focus,
.contact-adress .tel:focus {
  color: var(--pressed-state-color);
}

/* Hero */
.hero {
  text-align: center;
  background-color: var(--hero-background-color);
}

.hero-title {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 48px;
  outline: 2px solid red;
  color: var(--hero-title-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button {
  border: 1px solid transparent;
}
/* Hero  button */
.button.primary {
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: inline-block;
  color: var(--button-primary-text-color);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--pressed-state-color);
}
/* End Hero button */

/* sections */

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.section.value {
  padding-bottom: 0;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section .values-title {
  margin-top: 0;
  margin-bottom: 0;
}
.section .doing-title,
.section .team-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* section Our ideals and values + our team*/

.section .value-subtitle,
.section .team-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* .value-subtitle p {
  margin-top: 0;
  margin-bottom: 0;
} */
.section .value-text,
.section .team-text {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.section.team {
  background-color: var(--team-background-color);
}

/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 16px;
  background-color: var(--dark-color);
}

.footer .logo-studio {
  color: var(--light-color);
}

.footer-text {
  color: var(--accent-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* END INDEX */
/*  */
/*  */
/*  */
/* PORTFOLIO PAGE*/
.portfolio-title {
  margin: 0;
  padding: 0;
}

/* buttons */

.section.portfolio {
  padding-top: 96px;
}
/* .list.buttons {
  background-color: tomato;
} */
.button.secondary {
  border-radius: 4px;
  margin-bottom: 72px;
  padding: 12px 24px 12px 24px;
  display: inline-block;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border-color: var(--accent-color);
  cursor: pointer;
}

.button.secondary:hover,
.button.secondary:focus {
  border: 1px solid transparent;
  background-color: var(--pressed-state-color);
  color: var(--button-secondary-text-focus-color);
}

/* portfolio list */

.list .portfolio-link {
  text-decoration: none;
}

.list .portfolio-subtitle {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-text {
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list .portfolio-subtitle:hover,
.list .portfolio-subtitle:focus,
.list .portfolio-text:hover,
.list .portfolio-text:focus {
  color: var(--pressed-state-color);
}

.list .portfolio-link:hover,
.list .portfolio-link:focus {
  color: var(--pressed-state-color);
}
